*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    margin: auto;
    margin-top: 3rem;
    width: 80%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
