*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    height: auto;
    margin: 100px auto;
    padding: 20px 40px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   
    background-color: rgb(131, 7, 7);
    border-radius: 10px;
    box-shadow: 0px 4px 20px #640c0c;
}

.display{
    width: 90%;
    height: 50px;
    margin: auto;
    border-radius: 80px;
    background-color: aliceblue;
    text-align: center;
    padding-top: 1rem;
}

.valor{
    width: 80px;
}

#val1{
    visibility: hidden;
}

#val2{
    visibility: hidden;
}

.operacion{
    display: flex;
}

.operador{
    width: 20px;
    height: 30px;
    padding-top: 5px;
    padding-left: 6px;
    background-color: white;
    border-radius: 15px;
   
}

.btn{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 4px 20px hwb(240 6% 93%);

}


